/* IMPOSTAZIONI GENERALI */
*{
    margin: 0;
    padding: 0;
}

:root{

--black : rgb(24,24,24);
--grey : rgb(38,38,38);
--white : rgb(255,255,255);
}

.textBlack{
    color: var(--black);
}

.textWhite{
    color: var(--white);
}

h1,h2,h3,h4,h5{
font-family: 'Roboto', sans-serif;

}

body{
    /* background-color: var(--grey); */
    background-image: url(/media/sfondoForm.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    
}

p{
font-family: 'Schibsted Grotesk', sans-serif;
}

/* NAVBAR */
nav{
    background-color: var(--black);
}

.nav-link{
    transition: 0.5s;   
}

.nav-link:hover{
    color: var(--white);
    border-bottom: 2px solid var(--white);
    padding-bottom: 0px;
    font-weight: 600;
}

.logoSito{
    width: 45px;
    color: var(--white);
}

.nav-item{
   margin-right: 85px;
}

.titoloHeader{
    color: var(--white);
    font-size: 120px;
}


/* FORM */
.formRow{
    width: 2000px;
    background-color: var(--black);
    margin-top: 100px;
    height: 940px;
}

.colForm{
    width: 800px;
}

.titoli{
    color: aliceblue;
}

.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: var(--white);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: var(--white);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  

@media screen and (min-width: 517px) and (max-width: 800px) {
    .colForm{
        width: 500px;
    }
}

@media screen and (min-width: 378px) and (max-width: 516px) {
    .colForm{
        width: 400px;
    }
}

@media screen and (max-width: 400px){
    .colForm{
        width: 350px;
    }
}

@media screen and (max-width: 353px){
    .colForm{
        width: 300px;
    }
}

@media screen and (max-width: 300px){
    .colForm{
        width: 240px;
    }
}


/* FOOTER */
.footerRow{
    margin-top: 180px;
    background-color: var(--black);
}

.infoFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767px){
    .footerClass{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

